@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: rotate(90deg) scale(0.8);
    margin-top: -10px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(160, 237, 45);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #c4c4c4;
}

input:checked+.slider:before {
    transform: translateX(26px);
}



/* NAVBAR */

.navbar-toggler {
    color: rgba(255, 255, 255, 0.755);
    border: 1px;
}

a.nav-link {
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 0 5px;

}


a.nav-link::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.1s linear;
}

a.nav-link:hover::after {
    transform: scaleX(0.5);
}



nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #fafafa40;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: 0;
    margin-top: -20px;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.sign-desk {
    margin-top: -5px;
}

.sign-desk > .btn {
    margin-top: -4px;
}

.sign-up {
    transition: all 0.3s ease;
}

nav .menu-btn i {
    color: #0a0a0a;
    font-size: 22px;
    cursor: pointer;
    display: none;
    margin-top: -4px;
}

input[type="checkbox"] {
    display: none;
}

.logo {
    transform: scale(0.7);
    margin-top: -10px;
}

.sign {
    display: none;
}

.btn-daftar {
    font-size: 1.5rem;
    background-color: #000000;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
}

.img-logo {
    width: 80%;
    margin-right: -12px;
}

.judul-about {
    font-size: 4rem;
}

.judul-desc {
    font-size: 19px;
}

.box-desc {
    background-color: #00FF8A;
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 1px 2px black;
}

.box-desc p {
    font-size: 19px;
    font-weight: 600;
}
.box-desc p a {
   color: white;
   -webkit-text-stroke-width: 0.3px; 
   -webkit-text-stroke-color: black;

}

footer p {
    font-weight: 500;
    font-size: 20px;
}

.addres-text {
    width: 80%;
}

.thanks {
    color: green;
    text-align: center;
  }

@media(max-width: 991.98px) {

    .toggle-switch {
        margin-left: -4rem;
    }

    .sign-desk {
        display: block;
    
    }

    .sign {
        display: none;
    }

    nav {
        height: 100px;
    }

    nav ul {
        margin-top: -20px;
    }

    .img-logo {
        width: 40%;
    }

   .addres-text {
    margin: auto;
   }
   
    .row > .img-home {
        order: -1;
      }
   
}

@media (max-width: 900px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav .menu-btn i {
        font-size: 28px;
    }
    nav {
        height: 90px;
    }

    nav ul {
        position: fixed;
        top: 110px;
        left: -100%;
        background: #fafafa;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }


    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    .sign-desk {
        display: none;
    }

    .sign {
        display: block;
    }
    
    .row > .img-home {
        order: -1;
    }

    .addres-text {
        width: 60%;
        margin: auto;
    }
   

}

@media (max-width:767.98px) {



    nav {
        height: 100px;
        padding: 0 30px 0 80px;
    }

    nav ul {
        top: 100px;
    }

    .toggle-switch {
        margin-left: -4rem;
        margin-top: -2px;
    }

    .logo {
        margin: 0;
    }

    .sign {
        display: block;
    }

    .sign-desk {
        display: none;
    }

    .addres-text {
        width: 90%;
    }
 


}

@media(max-width: 575.98px) {


    .toggle-switch {
        margin-top: -5px;
    }

    nav {
        height: 80px;
    }

    nav ul {
        top: 100px;
    }

    .logo {
        width: 40%;
        margin-top: -6px;
    }

    .btn-daftar {
        font-size: 18px;
    }

    .judul-about {
        font-size: 42px;
    }

    .img-logo {
        width: 60%;
    }

    .judul-desc {
        font-size: 16px;
    }

    footer p {
        font-size: 18px;
    }
 
}

@media (max-width: 325px) {
    nav {
        padding: 0 25px 0 80px;
    }

    .logo {
        margin-top: 1px;
    }

    .judul-about {
        font-size: 32px;
    }
   
    footer p {
        font-size: 16px;
    }

}
