@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: rotate(90deg) scale(0.8);
    margin-top: -10px;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(160, 237, 45);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #c4c4c4;
}

input:checked+.slider:before {
    transform: translateX(26px);
}



/* NAVBAR */

.navbar-toggler {
    color: rgba(255, 255, 255, 0.755);
    border: 1px;
}

a.nav-link {
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 0 5px;

}


a.nav-link::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.1s linear;
}

a.nav-link:hover::after {
    transform: scaleX(0.5);
}



nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #fafafa40;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: 0;
    margin-top: -20px;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.sign-desk {
    margin-top: -5px;
}

.sign-desk > .btn {
    margin-top: -4px;
}

.sign-up {
    transition: all 0.3s ease;
}

nav .menu-btn i {
    color: #0a0a0a;
    font-size: 22px;
    cursor: pointer;
    display: none;
    margin-top: -4px;
}

input[type="checkbox"] {
    display: none;
}

.logo {
    transform: scale(0.7);
    margin-top: -10px;
}

.sign {
    display: none;
}

/* HOME */

.img-header {
    width: 80%;
}

.judul-desc {
    font-size: 20px;
}

.btn-daftar {
    font-size: 1.5rem;
    background-color: #000000;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
}

 /* SERVICE */

 .text-service {
    font-size: 20px;
    width: 85%;
    margin: 1rem auto;
    text-align: center;
}

.yt {
    width: 100%;
}

.yt-text {
    font-size: 24px;
    font-weight: 500;
}



.img-benefit {
    width: 80%;
}

.benefit-text > p {
    font-size: 22px;
    font-weight: 500;
    margin: 40px auto;
}

.box-green {
    height: 300px;
    margin-top: 6rem;
    border-radius: 1rem;
}
.diskon {
    font-size: 24px;
    font-weight: 500;
}
.img-robot {
    width: 80%;
}

.box-robot {
    top: -130px;
}

.btn-join {
    background-color: #000000;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 22px;
}

footer p {
    font-weight: 500;
    font-size: 20px;
}

.addres-text {
    width: 80%;
}


@media (max-width: 1400px) {

    .box-green {
        height: 280px;
    }

    .box-robot {
        top: -110px;
    }
}

@media(max-width: 1366px) {
    .box-robot {
        top: -120px;
    }

    .box-green {
        height: 270px;
    }
}


@media(max-width: 1199.98px) {
    .img-header {
        width: 100%;
    }
    .judul {
        font-size: 2rem;
    }

    .benefit-text > p {
        margin: 40px auto;
    }

    .box-robot {
        top: -90px;
    }

    .box-green {
        height: 300px;
    }

}


@media(max-width: 991.98px) {

    .toggle-switch {
        margin-left: -4rem;
    }

    .sign-desk {
        display: block;
    
    }

    .sign {
        display: none;
    }

    nav {
        height: 100px;
    }

    nav ul {
        margin-top: -20px;
    }

    .img-header {
        width: 100%;
    }

    .judul {
        font-size: 30px;
        margin-top: 3rem;
    }

    .judul-desc {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .titik {
        width: 220px;
        height: 180px;
    }

    .yt-div > .yt-box {
        order: -1;
    }

    .yt-text {
        font-size: 20px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .img-benefit {
        width: 100%;
    }
    
    .btn-join {
        font-size: 16px;
    }

    .diskon {
        font-size: 20px;
    }

    .img-robot {
        width: 85%;
    }
 
    .box-robot {
        top: -90px;
    }

    .box-green {
        height: 220px;
    }

    .addres-text {
        margin: auto;
    }
   
}

@media (max-width: 900px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav .menu-btn i {
        font-size: 28px;
    }
    nav {
        height: 28px;
    }

    nav ul {
        position: fixed;
        top: 110px;
        left: -100%;
        background: #fafafa;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }


    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    .sign-desk {
        display: none;
    }

    .sign {
        display: block;
    }
    
    .addres-text {
        width: 60%;
        margin: auto;
    }

}

@media (max-width:767.98px) {

    .row > .img-home {
        order: -1;
    }


    nav {
        height: 100px;
        padding: 0 30px 0 80px;
    }

    nav ul {
        top: 100px;
    }

    .titik-div {
        margin-top: 10px;
        margin-bottom: -20px;
    }
    .foto-benefit {
        order: -1;
        margin-bottom: 20px;
    }

    .benefit-text > p {
        margin: 20px auto;
        font-size: 18px;
        font-weight: 500;
    }

    .benefit-text > p > span {
        margin-right: 10px;
    }

    .benefit-text > p > span > svg {
       width:  40px;
    }

    .toggle-switch {
        margin-left: -4rem;
        margin-top: -2px;
    }

    .logo {
        margin: 0;
    }

    .sign {
        display: block;
    }

    .sign-desk {
        display: none;
    }

    .diskon {
        font-size: 16px;
    }

    .img-robot {
        width: 90%;
    }
 
    .box-robot {
        top: -70px;
    }

    .box-green {
        height: 220px;
    }

    .addres-text {
        width: 90%;
    }



}

@media(max-width: 575.98px) {


    .toggle-switch {
        margin-top: -5px;
    }

    nav {
        height: 80px;
    }

    nav ul {
        top: 100px;
    }

    .logo {
        width: 40%;
        margin-top: -6px;
    }

    .titik-div {
        margin-top: 10px;
        margin-bottom: -20px;
    }

 
    .judul {
        font-size: 24px;
    }

    .judul-desc {
        font-size: 1rem;
    }

    .btn-daftar {
        font-size: 18px;
    }

    .judul-service {
        font-size: 24px;
    }

    .text-service {
        margin-top: 10px;
        width: 100%;
        font-size: 1rem;
    }

    .yt-text {
        font-size: 18px;

    }

    .diskon {
        font-size: 13px;
        width: 82%;
    }

    .btn-join {
        font-size: 10px;
    }

    .img-robot {
        width: 8.8rem;
    }
 
    .box-robot {
        top: -50px;
        right: 1px;
        left: -30px;
    }

    .box-green {
        margin-top: 3rem;
        height: 170px;
        width: 95%;
    }

    .box-kiri {
        padding-top: 1.5rem;
        padding-left: 1rem;
    }

    .benefit-text {
        font-size: 18px;
    }

    footer p {
        font-size: 18px;
    }

 
}

@media (max-width: 325px) {
    nav {
        padding: 0 25px 0 80px;
    }

    .logo {
        margin-top: 1px;
    }

    .box-green {
        margin-top: 4rem;
        width: 90%;
        height: 190px;
    }

    .robot-img {
        position: relative;
        width: 50%;
        height: 250px;
        top: -80px;
        left: 1.5rem;
    }

    h5 {
        font-size: 14px;
        margin: 10px 0 0 0;
        width: 100%;
        padding: 10px;
    }

    .join {
        margin-top: 10px;
    }

    .box-robot {
        left: -50px;
    }

    footer p {
        font-size: 16px;
    }


}

